.linkStyle {
    color: #9f9f9f;
    margin: 0 10px;
    font-size: 18px;
    text-decoration: none;
}

div.outerDiv {
  background: #222;
  min-height: 50px;
}

div.headerText {
  margin: 0;
}

div.textBox {
  margin: 0 auto;
  max-width: 340px;
  padding: 0.4 rem 1.0875rem;
  padding-top: 12px;
  padding-bottom: 12px;

  @media (min-width: 768px) {
    max-width: 540px;
  }
}